body {
    background-color: #2a2b28;
    color: #fff;
    font-family: Roboto;
    text-align: center;
}

h1 {
    font-family: Monoton;
    font-size: 70px;
    margin: 1em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}

#sizePicker {
    margin-bottom: 3em;
}

#pixelCanvas {
    background-color: #fff;
}
